PRUVODCE_TOKEN_SECRET=
KOD_ZAHRADA_V1=
KOD_ZAHRADA_V2=
KOD_ZAHRADA_V3=
KOD_ZAHRADA_V4=
KOD_ZAHRADA_V5=
WIFI_HESLO_V1=
WIFI_HESLO_V2=
WIFI_HESLO_V3=
WIFI_HESLO_V4=
WIFI_HESLO_V5=
WIFI_HESLO_ZAHRADA=
BRANA_TELEFON=
